@media (max-width: 650px) {
    .sec2_card_image {
        width: 220px;
        height: 140px;


    }

    header {
        padding: 58px 8px;
    }

    .header_guit {
        width: 39.871px;
        height: 39.856px;
    }

    .sec4_tittle{
        font-size: 16px;
    }

    .sec4_search_bar{
        width: 150px;
    }

    .footer{
        display: block;

    }
    
    

}