.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;


}

/* HEADER */
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 32px 92px;
    align-items: center;
    background: #012426;
}

.burger{
    display: none;
}

/* HEADER UL */
.header_ul {
    display: flex;
    column-gap: 72px;
    font-size: 24px;


}

.active {
    color: #A1C3C9;
}

/* HEADER LOGOS */
.header_div {
    display: flex;
    column-gap: 32px;
}

.magazin {
    border-radius: 8px;
    border: 2px solid #05BCCA;
    width: 24px;
    height: 24px;
    width: 40px;
    height: 40px;
    padding: 8px;
}


/* SECTIOON1 */


.section1 {
    background-image: url(../images/Rectangle\ 1\ \(2\).png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 480px;

}

.sec1_text {
    display: flex;
    font-size: 32px;
    color: #05BCCA;
    justify-content: center;
    align-items: center;
    padding-top: 72px;
    column-gap: 24px;


}

.new {
    color: white;
}

.sec1_button {
    display: flex;
    padding: 0px 6px;
    border-radius: 4px;
    background: #C46A2B;
}

/* SECTION2 */
.section2 {
    width: 100%;
    height: 692px;
    display: flex;
    padding: 96px 98px;
    justify-content: center;
    align-items: center;
    background: #012426;
}

.sec2_div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;

}

.sec2_img {

    background-image: url(../images/Rectangle\ 4\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;

}

.sec2_img2 {
    width: 404px;
    height: 240px;
    background-image: url(../images/Rectangle\ 5\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
}

.sec2_tittle {
    font-size: 24px;
    color: #F5F5F5;
    padding: 16px;
}

/* SECTION3 */

.section3 {
    display: flex;
    width: 100%;
    height: 716px;
    padding: 94px 94px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    flex-shrink: 0;
    background: #1A1A1A;
}

.mostpopular {
    color: #05BCCA;

    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
}

.sec3_cards_div {
    display: flex;
    gap: 20px;

}

.sec3_card {

    width: 23.58%;
    height: 400px;
    flex-shrink: 0;

    border: 1px solid #05BCCA;

    background: #2C4246;


}

h3 {
    display: flex;

}

.sec3_cards_img {
    padding: 8px;
    width: 282px;
    height: 290px;
    flex-shrink: 0;
}

h3 {
    padding: 8px;
    color: #D9D9D9;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
}



.stars {
    display: flex;
    justify-content: space-around;

}

#review4 {
    color: #A1C3C9;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;

}



#dolar {
    margin-left: 73px;
    color: #05BCCA;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
}

/* SECTION4 */

.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(../images/Rectangle\ 6.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 320px;
    flex-shrink: 0;
}

.sec4_tittle {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    color: #05BCCA;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;

}

.sec4_search {
    display: flex;
    height: 48px;
    padding-left: 8px;
    align-items: center;
    gap: 240px;
    border-radius: 8px;
    border: 1px solid #F5F5F5;
    background: rgba(44, 66, 70, 0.80);

}

.email_text {
    color: #A1C3C9;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px
}

.subscribe {
    display: flex;
    height: 48px;
    padding: 15px 14px 14px 14px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 8px 8px 0px;
    background: #05BCCA;
    color: #FFF;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 48px 306px;
    width: 100%;
    height: 380px;
    background: #2C4246;
}

.footer_ul {
    color: #D9D9D9;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}

h5 {
    color: #D9D9D9;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}


/* PAGE2 CATALOG */
.page2_sec1 {
    display: flex;
    width: 100%;
    height: 145px;
    padding: 36px 444px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-top: 2px solid #05BCCA;

    background: #1A1A1A;
}

.page2_sec1_div {
    display: flex;
    width: 25%;
    height: 73px;
    padding: 18px 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid #05BCCA;
    
}



.page2_sec1_text {
    color: #FFF;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px
}

.page2_sec1_div3 {
    display: flex;
    width: 25%;
    height: 73px;
    padding: 18px 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid #05BCCA;
    background: #A1C3C9;
}

/* SECTION2 */

.page2_section2 {
    display: flex;
    width: 100%;
    height: 2112px;
    padding: 96px 94px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #012426;
}

.page2_sec2_div1 {
    width: 100%;
    height: 1720px;
    flex-shrink: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);


}

.sec3_cards {
    width: 96%;
    height: 400px;
    flex-shrink: 0;

    border: 1px solid #05BCCA;

    background: #2C4246;
}

/* CONTACT PAGE */

.contact_sec1 {

    background-image: url(../images/Rectangle\ 7\ \(1\).png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px;

}

h6 {
    color: #FFF;
    width: 100%;
    margin-top: 20%;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px
}

.contact_div1 {
    display: flex;
    width: 45%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin: 0 20% 40% 50%;

}

.contact_art {
    display: flex;
    width: 100%;
    padding: 35px 40px;
    
    align-items: center;
    gap: 228px;
    background: #2C4246;


}

.mess_icon {
    display: flex;

    align-items: center;
    column-gap: 15px;
    padding-bottom: 20px;
}

.contact_tell {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

figure {
    border: solid 10px red;
}

.name {
    display: flex;
    /* width: 55%; */
    padding: 6px 99px 6px 8px;
    align-items: center;
    background: #2C4246;
    color: #A1C3C9;

    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px
}

.email {
    display: flex;
    /* width: 80%; */
    padding: 6px 102px 6px 8px;
    align-items: center;
    background: #2C4246;
    color: #A1C3C9;

    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px
}

.arttt {
    display: flex;
    gap: 10px;
}

.message {
    display: flex;
    padding: 6px 230px 77px 8px;
    background: #2C4246;
    width: 45.5%;
    align-items: center;
    height: 103px;

    color: #A1C3C9;

    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px
}

.sendmessage {
    display: inline-flex;
    padding: 8px 90px;
    justify-content: center;
    align-items: center;
    background: #C46A2B;
}