.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    padding-top: 130px;


}

/* HEADER */
header {
    display: flex;
    max-width: inherit;
    width: inherit;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    justify-content: space-between;
    padding: 32px 92px;
    align-items: center;
    background: #012426;


    z-index: 1;
}

.burger {
    display: none;
}

/* HEADER UL */
.header_ul {
    display: flex;
    column-gap: 72px;
    font-size: 24px;


}




.active {
    color: #A1C3C9;

}


ul li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #012426;
}

ul li a:hover {
    color: #ffee10;
    box-shadow: 0 0 5px #012426;
    text-shadow: 0 0 5px #012426;
}

/* HEADER LOGOS */

button {
    border: none;
    cursor: pointer;
}

.head_button {
    background-color: transparent;

}

.header_div {
    display: flex;
    column-gap: 32px;
}

.magazin {
    display: flex;
    border-radius: 8px;
    border: 2px solid #05BCCA;
    width: 24px;
    height: 24px;
    width: 40px;
    height: 40px;
    padding: 8px;

}


/* SECTIOON1 */


.section1 {
    background-image: url(../images/Rectangle\ 1\ \(2\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* padding: 150px; */
    width: 100%;
    height: 480px;
    /* margin-top: 130px; */



}

.sec1_text {
    display: flex;
    font-size: 32px;
    color: #05BCCA;
    justify-content: center;
    align-items: center;

    column-gap: 24px;


}

.section_1_title {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    margin-right: 24px;
}

.sec1_span {
    color: #05bcca;
}

.sec1_button {
    display: flex;
    padding: 0px 6px;
    border-radius: 4px;
    background: #C46A2B;
}

.sec1_button:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
}

/* SECTION2 */
.section2 {

    width: 100%;
    height: 692px;
    display: flex;
    padding: 96px 98px;
    justify-content: center;
    align-items: center;
    background: #012426;
}

.sec2_grid {
    width: 804px;
    height: 440px;
    
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

}

.sec2_card_image {
    width: 100%;
    background-image: url(../images/Rectangle\ 4\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sec2_card_image:hover{
    box-shadow: 2px 2px 30px 6px rgb(7, 173, 233);
  transition: 0.7s linear;
}


.sec2_tittle {
    font-size: 24px;

}

.sec2_tittle:hover {
    box-shadow: inset 500px 0 0 10px #012426;
    transition: 1s linear, box-shadow 0.7s linear;
    opacity: 0.5;
}











/* SECTION3 */

.section3 {
    display: flex;
    width: 100%;
    height: 716px;
    padding: 94px 94px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    flex-shrink: 0;
    background: #1A1A1A;
    overflow-x: scroll;
}

.mostpopular {
    color: #05BCCA;

    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
}

.sec3_cards_div {
    display: flex;
    gap: 20px;

}

.sec3_card {

    width: 23.58%;
    height: 400px;
    flex-shrink: 0;

    border: 1px solid #05BCCA;

    background: #2C4246;




}

.sec3_card:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
}





h3 {
    display: flex;

}

.sec3_cards_img {
    padding: 8px;
    width: 282px;
    height: 290px;
    flex-shrink: 0;
}

h3 {
    padding: 8px;
    color: #D9D9D9;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
}



.stars {
    display: flex;
    justify-content: space-around;

}

#review4 {
    color: #A1C3C9;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;

}



#dolar {
    margin-left: 73px;
    color: #05BCCA;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
}

/* SECTION4 */

.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(../images/Rectangle\ 6.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 320px;
    flex-shrink: 0;
}

.sec4_tittle {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    color: #05BCCA;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;

}

.sec4_search {
    display: flex;


}

.sec4_search_bar {
    width: 361px;
    border-radius: 8px 0 0 8px;
    border: 1px solid #f5f5f5;
    background: rgba(44, 66, 70, 0.8);
    padding: 15px 8px;
    border-right: none;
}

.email_text {
    color: #A1C3C9;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px
}

.subscribe {
    display: flex;
    height: 48px;
    padding: 15px 14px 14px 14px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 8px 8px 0px;
    background: #05BCCA;
    color: #FFF;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 380px;
    background: #2C4246;
}

.footer_ul {
    color: #D9D9D9;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}

h5 {
    color: #D9D9D9;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}


/* PAGE2 CATALOG */
.page2_sec1 {
    display: flex;
    width: 100%;

    padding: 36px 444px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-top: 2px solid #05BCCA;

    background: #1A1A1A;
   
    margin-top: 0;
}



.page2_sec1_div {
    display: flex;
    width: 25%;
    height: 73px;
    padding: 16px 13px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid #05BCCA;


}







.sec1_buttons {
    padding: 17px 24px;
    background: #1A1A1A;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: white;
    font-style: normal;
    font-weight: 520;
    line-height: 17px;

}

.sec1_buttons:hover {
    font-size: 24px;
    transition: 0.7s ease-in-out;
    background-image: linear-gradient(to right,

            #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);


}









.page2_sec1_text {
    color: #FFF;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px
}

.page2_sec1_div3 {
    display: flex;
    width: 25%;
    height: 73px;
    padding: 18px 13px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid #05BCCA;
    background: #A1C3C9;
}

/* SECTION2 */
.section_2_catalog {
    background: #012426;
    padding: 96px 0;
  }
  
  .section_2_catalog_article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px 20px;
  }
  
  .section_2_catalog_filter_div {
    display: flex;
    justify-content: space-between;
    width: calc(1252 / 1440 * 100%);
    margin: 0 auto 64px;
  }
  
  .section_2_catalog_filter_icon {
    display: flex;
    column-gap: 16px;
  }
  
  .section_2_filter_text {
    color: #d9d9d9;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
  }
  
  .section_2_catalog_filter_div_2 {
    display: flex;
    align-items: center;
    column-gap: 32px;
  }
  
  .section_2_sort_butn {
    display: flex;
    border: none;
    border-radius: 4px;
    background: #a1c3c9;
    column-gap: 33px;
    padding: 4px 8px;
  }
  
  .section_2_sort_butn:hover {
    box-shadow: 8px 8px #99bdff;
    transition: 0.3s;
  }
  
  .section_2_sort_butn_text {
    color: #2c4246;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  
  .fa-angle-down {
    font-size: 24px;
    color: #2c4246;
  }
  
  .catalog_article_figure {
    width: 298px;
    background: #2c4246;
  }
  
  .catalog_article_figure:hover {
    transform: scale(1.1);
    transition: 1s ease;
    box-shadow: 0 0 8px 8px goldenrod;
  }
  
  .catalog_article_img {
    width: 100%;
    object-fit: cover;
  }
  
  .catalog_figcaption {
    padding: 0 8px 16px;
  }
  
  .section_2_pages_div {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 48px;
    margin-top: 64px;
  }
  
  .section_2_catalog_bottom_butn {
    color: #fff;
    padding: 8px;
    border-radius: 8px;
    background: #c46a2b;
    display: flex;
    align-items: center;
  }
  
  .section_2_catalog_bottom_butn:hover {
    box-shadow: 0 0 10px 0 #00d7c3, 0 0 20px 2px #00d7c3;
  }
  
  .catalog_bottom_butn_text {
    color: #d9d9d9;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  
  .section_2_catalog_bottom_text {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  
  .section_2_catalog_bottom_butn_2 {
    background: #05bcca;
  }
  
  .section_3_price_div {
    display: flex;
    align-items: center;
    margin-top: 16px;}

    .section_3_stars {
        display: flex;
        column-gap: 4px;
      }

/* CONTACT PAGE */

.contact_sec1 {

    background-image: url(../images/Rectangle\ 7\ \(1\).png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px;
    margin-top: 125px;
    margin-top: 0;

}

h6 {
    color: #FFF;
    width: 100%;
    margin-top: 20%;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px
}
.contact_div1 {
    display: flex;
    width: 45%;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
    gap: 40px;
    margin: 0 20% 40% 10%;

}

.contact_art {
    display: flex;
    width: 100%;
    padding: 35px 40px;

    align-items: center;
    gap: 228px;
    background: #2C4246;


}

.mess_icon {
    display: flex;

    align-items: center;
    column-gap: 15px;
    padding-bottom: 20px;
}

.contact_tell {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

figure {
    border: solid 10px red;
}

.name {
    display: flex;
    padding: 6px 99px 6px 8px;
    align-items: center;
    background: #2C4246;
    color: #A1C3C9;

    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px
}

.email {
    display: flex;

    padding: 6px 102px 6px 8px;
    align-items: center;
    background: #2C4246;
    color: #A1C3C9;

    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px
}

.arttt {
    display: flex;
    gap: 10px;
}

.message {
    display: flex;
    padding: 6px 230px 77px 8px;
    background: #2C4246;
    width: 45.5%;
    align-items: center;
    height: 103px;

    color: #A1C3C9;

    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px
}

.sendmessage {
    display: inline-flex;
    padding: 8px 90px;
    justify-content: center;
    align-items: center;
    background: #C46A2B;
}

.ifra{
    
}