@media (max-width: 950px) {
    
    .section2 {
        padding: 32px 48px;
    }

    .sec2_card_image {
        /* width:  100%; */
        
    }    
   .page2_sec1_div{
    display: none;
   }
   .page2_sec1{
    display: none;
   }
   .contact_div1{
   
   }

   .email {
display: none;
}
.contact_sec1{
    width: 150%%;
}
}

